<div class="post">
  
  <div class="post-heading">
    <h2>
      Connections of {{p.user.name}}
    </h2>
  </div>
  <hr>

  <hr>

  {% for i in connections %}

  <div class="panel panel-default">
    <div class="panel-heading"> Username is {{i.otherUser}}</div>
    <div class="panel-heading"> Email is {{i.otherUserEmail}}</div>
    <div class="panel-heading"> Connection made {{i.created.strftime("%H:%M:%S, %b %d, %Y")}}</div>
    <div class="panel-body">
      {{i.postingTitle | safe}}
    </div>
  </div>
  <br><br>
  <hr><hr>
  {% endfor %}

</div>