{% extends "base.html" %}
{% block navbar %}
  <li><a href="/">Home</a></li>
  <li><a href="/newpost">New Post</a></li>
  {% if user %}
    <li><a href="/users/{{user.key().id()}}">Profile</a></li>
    <li><a href="/created">Created</a></li>
    <li><a href="/applied">Applied</a></li>
    <li><a href="/connections">Connections</a></li>
    <li><a href="/users">Users</a></li>
  {% endif %}
    <li><a href="/FAQ">FAQ</a></li>
{% endblock %}

{% block content %}
<div class="post">

  <div> Hello {{owner.name}} </div>
  <div>You are considering permanently deleting <a href="/post/{{post.key().id()}}">{{post.title}}</a></div>
  <form method="post" class="jumbotron">
    <input type="submit" name="confirm" class="btn btn-primary" value="Delete Your Post"></input>
  </form>

</div>
{% endblock %}