{% extends "base.html" %}
{% block navbar %}
  <li><a href="/">Home</a></li>
  <li><a href="/newpost">New Post</a></li>
  {% if user %}
    <li><a href="/users/{{user.key().id()}}">Profile</a></li>
    <li><a href="/created">Created</a></li>
    <li><a href="/applied">Applied</a></li>
    <li><a href="/connections">Connections</a></li>
    <li><a href="/users">Users</a></li>
  {% endif %}
    <li><a href="/FAQ">FAQ</a></li>
{% endblock %}

{% block content %}
  <a href="/feedback/{{post.key().id()}}">SUBMIT FEEDBACK</a>

  <div class="post">
    <div class="post-heading">
      <h2>
        {{post.title}}
      </h2>
      <h5>
        Posted by
        <a href="/users/{{post.authorID}}" class="label label-warning">
          {{post.author}}
        </a>

        <div> User Tutee Rating: {{owner.tuteeRating}} </div>
        <div> Number of Jobs as a Tutee: {{owner.numberTuteeJobs}} </div>

        <div class="label label-info">
          {{post.created.strftime("%b %d, %Y")}}
        </div>
      </h5>
    </div>
    <hr>
    <h4>
      <div class="post-content">
        {{post._render_text | safe}}
      </div>
    </h4>
    <hr>

    <hr>
      <h5>
      <div>
       <p> Subject: {{post.subject}}</p>
      </div>
       <p><font color="green"> Wage (USD per hour): $ {{post.wage}} </font></p>
      </h5>

    <div>
      {% if post.meetings == 1 %}
        <p>Frequency of Meetings: Once</p>
      {% elif post.meetings == 2 %}
        <p>Frequency of Meetings: Several</p>
      {% elif post.meetings == 3 %}
        <p>Frequency of Meetings: More...</p>
      {% endif %}
    </div>

    <div>
      {% if post.difficulty == 1 %}
        <p> Difficulty: Easy </p>
      {% elif post.difficulty == 2 %}
        <p> Difficulty: Medium </p>
      {% elif post.difficulty == 3 %}
        <p> Difficulty: Hard </p>
      {% elif post.difficulty == 4 %}
        <p> Difficulty: Very Hard </p>
      {% endif %}
    </div>
    <hr>
  </div>

  <div> Selected Tutor: <a href="/users/{{post.selectedTutorID}}">{{post.selectedTutor}} </a> </div>


  <hr><hr>


  <div> LIST OF COMMENTS </div>
  <br>
    {{commentText | safe}}
  <br>

  </div>
{% endblock %}
