{% extends "base.html" %}
{% block navbar %}
  <li><a href="/">Home</a></li>
  <li><a href="/newpost">New Post</a></li>
  {% if user %}
    <li><a href="/users/{{user.key().id()}}">Profile</a></li>
    <li><a href="/created">Created</a></li>
    <li><a href="/applied">Applied</a></li>
    <li><a href="/connections">Connections</a></li>
    <li><a href="/users">Users</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <a href="/feedback/{{p.key().id()}}" > SUBMIT FEEDBACK </a>

  <div class="post">
    <div class="post-heading">
      <h2>
        {{p.title}}
      </h2>
      <h5>
        Posted by
        <a href="/users/{{p.authorID}}" class="label label-warning">
          {{p.author}}
        </a>

        <div> User Tutee Rating: {{owner.tuteeRating}} </div>
        <div> Number of Jobs as a Tutee: {{owner.numberTuteeJobs}} </div>

        <div class="label label-info">
          {{p.created.strftime("%b %d, %Y")}}
        </div>
      </h5>
    </div>
    <hr>
    <h4>
      <div class="post-content">
        {{p._render_text | safe}}
      </div>
    </h4>
    <hr>

    <hr>
      <h5>
      <div>
       <p> Subject: {{p.subject}}</p>
      </div>
       <p> Wage (USD per hour): $ {{p.wage}} </p>
      </h5>

      <div>
        <p> Meetings (per week): {{p.meetings}} </p>
      </div>

      <div>
        <p> Difficulty: {{p.difficulty}} </p>
      </div>
    <hr>
  </div>

  <div> Selected Tutor: <a href="/users/{{p.selectedTutorID}}">{{p.selectedTutor}} </a> </div>


  <hr><hr>


  <div> LIST OF COMMENTS </div>
  {% for i in comments %}

  <div class="panel panel-default">
    <div class="panel-heading"> {{i.author}} {{i.created.strftime("%H:%M:%S, %b %d, %Y")}}</div>
    <div class="panel-body">
      {{i.content | safe}}
    </div>
  </div>
  {% endfor %}

  </div>
{% endblock %}
