{% extends "base.html" %}

{% block content %}
  <form method="post">
    <select name="subjectTag">
      <option value="None">--------Select a subject--------</option>
      <option value="American Studies">American Studies</option>
      <option value="Anthropology">Anthropology</option>
      <option value="Art History">Art History</option>
      <option value="Biochemistry">Biochemistry</option>
      <option value="Biology">Biology</option>
      <option value="Chemistry">Chemistry</option>
      <option value="Classical Studies">Classical Studies</option>
      <option value="Computer Science">Computer Science</option>
      <option value="Economics">Economics</option>
      <option value="Educational Studies">Educational Studies</option>
      <option value="Engineering">Engineering</option>
      <option value="English">English</option>
      <option value="Environmental Studies">Environmental Studies</option>
      <option value="French Studies">French Studies</option>
      <option value="German Studies">German Studies</option>
      <option value="Hispanic Studies">Hispanic Studies</option>
      <option value="History">History</option>
      <option value="International Studies">International Studies</option>
      <option value="Italian Studies">Italian Studies</option>
      <option value="Mathematics">Mathematics</option>
      <option value="Music">Music</option>
      <option value="Neuroscience">Neuroscience</option>
      <option value="Philosophy">Philosophy</option>
      <option value="Physics">Physics</option>
      <option value="Political Science">Political Science</option>
      <option value="Psychology">Psychology</option>
      <option value="Public Policy and Law">Public Policy and Law</option>
      <option value="Jewish Studies">Jewish Studies</option>
      <option value="Religion">Religion</option>
      <option value="Russian">Russian</option>
      <option value="Sociology">Sociology</option>
      <option value="Studio Arts">Studio Arts</option>        
      <option value="Theater and Dance">Theater and Dance</option>
      <option value="Urban Studies">Urban Studies</option>
      <option value="Women, Gender, and Sexuality">Women, Gender, and Sexuality</option>
    </select>
    <select name="sortingTag">
      <option value="None">-----Sort by-----</option>
      <option value="wage">Wage</option>
      <option value="difficulty">Difficulty</option>
      <option value="meetings">Frequency</option>
    </select>
    <input type="submit" value="sort" class="btn btn-xs btn-default">
  </form>
  {% for p in posts %}
    <div class="jumbotron">{{ p.render() | safe }}</div>
    <br><br>
  {% endfor %}

{% endblock %}
