<div class="post">
  
  <div class="post-heading">
    <h2>
      {{p.subject}}
    </h2>

    <h5>
      Posted by
      <a href="/users/{{i.key().id()}}" class="label label-warning">
        {{p.author}}
      </a>&nbsp;

      <div class="label label-info">
        {{p.created.strftime("%b %d, %Y")}}
      </div>
    </h5>

  </div>
  <hr>

  <h4>
    <div class="post-content">
      {{p._render_text | safe}}
    </div>
  </h4>
  <hr>
</div>

{% if not p.selectedTutor: %}
<form method="post" class="jumbotron">
  <div> OWNERS LIST OF RESPONDENTS </div>
  <select name="selectList">
  {% if respondents: %}
    {% for i in respondents %}
      <option value="{{i.respondent}}"> {{i.respondent}} </option>
    {% endfor %}
  {% endif %}
  </select>
    <input type="submit" name="select" class="btn btn-primary" value="Select this Tutor"></input>
    <br><br>
  <div> Respondent Profiles </div>
  <menu type="context">
    {% set  count = 1 %}
    {% for i in respondents %}
      <menuitem>
        <div> {{count}}. </div>
        <div>  Username: 
          <a href="/users/{{i.key().id()}}">{{i.respondent}}</a>
        </div>
        <div> User Rating: {{i.rating}} </div>
      </menuitem>
      <br>
      {% set count = count + 1 %}
    {% endfor %}
  </menu>

{% endif %}
</form>

{% if p.selectedTutor: %}
  <div>Selected Tutor is {{p.selectedTutor}} </div>
{% endif %}

<hr><hr>


<div> LIST OF COMMENTS </div>
{% for i in comments %}

<div class="panel panel-default">
  <div class="panel-heading"> {{i.author}} {{i.created.strftime("%H:%M:%S, %b %d, %Y")}}</div>
  <div class="panel-body">
    {{i.content | safe}}
  </div>
</div>
{% endfor %}

<form method="post" class="jumbotron">
  <div>
    <b>Comment</b>
  </div>
  <textarea class="form-control" name="content" rows="7" placeholder="(HTML formatting available)">{{content}}</textarea>
  <div class="error">{{error}}</div>
  <br><br>
  <input type="submit" class="btn btn-primary">
</form>

</div>