<div class="post">
  <div class="post-heading">
    <h2>
      {{post.title}}
    </h2>
    <h5>
      Posted by
      <a href="/users/{{post.authorID}}" class="label label-warning">{{post.author}}</a>

      <div> User Tutee Rating: {{owner.tuteeRating}} </div>
      <div> Number of Jobs as a Tutee: {{owner.numberTuteeJobs}} </div>
      <div class="label label-info">{{post.created.strftime("%b %d, %Y")}}</div>
      <br><br><br>
      <hr>
      <a href="/editpost/{{post.key().id()}}">Edit This Post</a>
      <br><br>
      <hr>
      <a href="/deletepost/{{post.key().id()}}"><font color="red">DELETE THIS POST</font></a>

    </h5>
  </div>
  <hr><hr>
  <h4>
    <div class="post-content">
      {{post._render_text | safe}}
    </div>
  </h4>
  <hr><hr>
  <h5>
    <div>
     <p> Subject: {{post.subject}}</p>
    </div>
    <p> <font color="green"> Wage (USD per hour): $ {{post.wage}} </font></p>
  </h5>

  <div>
    {% if post.meetings == 1 %}
      <p>Frequency of Meetings: Once</p>
    {% elif post.meetings == 2 %}
      <p>Frequency of Meetings: Several</p>
    {% elif post.meetings == 3 %}
      <p>Frequency of Meetings: More...</p>
    {% endif %}
  </div>

  <div>
    {% if post.difficulty == 1 %}
      <p> Difficulty: Easy </p>
    {% elif post.difficulty == 2 %}
      <p> Difficulty: Medium </p>
    {% elif post.difficulty == 3 %}
      <p> Difficulty: Hard </p>
    {% elif post.difficulty == 4 %}
      <p> Difficulty: Very Hard </p>
    {% endif %}
  </div>
  <hr>

  {% if not post.selectedTutor: %}
    <form method="post" class="jumbotron">
      <div>LIST OF RESPONDENTS </div>
      <select name="selectList">
      {% if respondentNameList: %}
        {% for respondentName in respondentNameList %}
          <option value="{{respondentName}}"> {{respondentName}} </option>
        {% endfor %}
      {% endif %}
      </select>
      <input type="submit" name="select" class="btn btn-primary" value="Select this Tutor"></input>
      <br><br>
    </form>

    <div> Respondent Profiles </div>
    <br>

    {{respondentText | safe}}
  {% endif %}


  {% if post.selectedTutor: %}
    <div> Selected Tutor: <a href="/users/{post.selectedTutorID}}">{{post.selectedTutor}} </a> </div>
  {% endif %}

  <hr><hr>


  <div> LIST OF COMMENTS </div>
  <br>
    {{commentText | safe}}
  <br>

  {% if not post.selectedTutor: %}
    <form method="post" class="jumbotron">
      <div>
        <b>Comment</b>
      </div>
      <div><font color="red">{{error_comment}}</font></div>  
      <textarea class="form-control" name="content" rows="7" placeholder="(HTML formatting available)">{{content}}</textarea>
      <div class="error">{{error}}</div>
      <br><br>
      <input type="submit" class="btn btn-primary">
    </form>
  {% endif %}

</div>