<div class="post">
  <div class="post-heading">
    <h2>
      <a href="/post/{{post.key().id()}}">{{post.title}}</a>
    </h2>
    Posted by
    <a href="/users/{{post.authorID}}" class="label label-warning">
      {{post.author}}
    </a>

    <div> User Tutee Rating: {{owner.tuteeRating}} </div>
    <div> Number of Jobs as a Tutee: {{owner.numberTuteeJobs}} </div>

    <h4>
      <div class="label label-info">
        {{post.created.strftime("%b %d, %Y")}}
      </div>
    </h4>
  </div>

  <div class="post-content">
    Subject: {{post.subject}}
  </div>
  <h4>
    <div class="post-content">
      <font color="green">
        ${{post.wage}} per hour
      </font>
    </div>
  </h4>

  <div class="post-content">
    {% if post.difficulty == 1 %}
      Difficulty: Easy
    {% elif post.difficulty == 2 %}
      Difficulty: Medium
    {% elif post.difficulty == 3 %}
      Difficulty: Hard
    {% elif post.difficulty == 4 %}
      Difficulty: Very Hard
    {% endif %}
  </div>

  <div class="post-content">
    {% if post.meetings == 1 %}
      Frequency of Meetings: Once
    {% elif post.meetings == 2 %}
      Frequency of Meetings: Several
    {% elif post.meetings == 3 %}
      Frequency of Meetings: More...
    {% endif %}
  </div>

  {% if post.selectedTutor: %}
    <div> Selected Tutor: <a href="/users/{{post.selectedTutorID}}">{{post.selectedTutor}} </a> </div>
  {% endif %}

  {% if not post.selectedTutor: %}
    <div> No Tutor has been selected yet! </div>
  {% endif %}

  
</div>