<!DOCTYPE html>

<html>
  <head>
    <title>Sign Up</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/signin.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Trinity Tutor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/newpost">New Post</a></li>
            <li><a href="/FAQ">FAQ</a></li>
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </nav>

    <div class="container">
      <form method="post" class="form-signin">
        <h2>Register</h2>
        <div>
          {% if error_username %}
            <div id="form-error" class="form-group has-error has-feedback">
              
              <input type="text" name="username" value="{{username}}" class="form-control" placeholder="Username" required autofocus>
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <label class="control-label">{{error_username}}</label>
            </div>
          {% else %}
            <div class="form-group">
              <input type="text" name="username" value="{{username}}" class="form-control" placeholder="Username" required autofocus>
            </div>
          {% endif %}
          

          {% if error_password %}
            <div id="form-error" class="form-group has-error has-feedback">
              
              <input type="password" name="password" value="" class="form-control" placeholder="Password" required autofocus>
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <label class="control-label">{{error_password}}</label>
            </div>
          {% else %}
            <div class="form-group">
              <input type="password" name="password" value="" class="form-control" placeholder="Password" required autofocus>
            </div>
          {% endif %}
          
          {% if error_verify %}
            <div id="form-error" class="form-group has-error has-feedback">
              
              <input type="password" name="verify" value="" class="form-control" placeholder="Confirm Password" required autofocus>
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <label class="control-label">{{error_verify}}</label>
            </div>
          {% else %}
            <div class="form-group">
              <input type="password" name="verify" value="" class="form-control" placeholder="Confirm Password" required autofocus>
            </div>
          {% endif %}

          {% if error_email %}
            <div id="form-error" class="form-group has-error has-feedback">
              <div class="input-group">
                <input type="text" name="email" value="{{email}}" class="form-control" placeholder="FirstName.LastName" required autofocus>
                <div class="input-group-addon">@trincoll.edu</div>
              </div>
              <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
              <label class="control-label">{{error_email}}</label>
            </div>
          {% else %}
            <div class="form-group">
              <div class="input-group">
                <input type="text" name="email" value="{{email}}" class="form-control" placeholder="FirstName.LastName" required autofocus >
                <div class="input-group-addon">@trincoll.edu</div>
              </div>
              <div>A verification email will be sent to your @trincoll.edu address. Please use the link in the email to confirm your account.</div>
            </div>
          {% endif %}

          <div class="form-group">
            <input type="text" name="name" value="{{name}}" class="form-control" placeholder="Your Name" required autofocus>
          </div>

          {% if error_year %}
            <div id="form-error" class="form-group has-error has-feedback">              
              <div class="form-group">
              Class Year
              <select name="year" required autofocus>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
              </select>
              </div>
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <label class="control-label">{{error_year}}</label>
            </div>
          {% else %}
            <div class="form-group">
              Class Year
              <select name="year" required autofocus>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
              </select>
            </div>
          {% endif %}

          <div class="form-group">
            Major
            <select name="major" required>
              <option value="Undeclared">Undeclared</option>
              <option value="American Studies">American Studies</option>
              <option value="Anthropology">Anthropology</option>
              <option value="Art History">Art History</option>
              <option value="Biochemistry">Biochemistry</option>
              <option value="Biology">Biology</option>
              <option value="Chemistry">Chemistry</option>
              <option value="Classical Studies">Classical Studies</option>
              <option value="Computer Science">Computer Science</option>
              <option value="Economics">Economics</option>
              <option value="Educational Studies">Educational Studies</option>
              <option value="Engineering">Engineering</option>
              <option value="English">English</option>
              <option value="Environmental Studies">Environmental Studies</option>
              <option value="French Studies">French Studies</option>
              <option value="German Studies">German Studies</option>
              <option value="Hispanic Studies">Hispanic Studies</option>
              <option value="History">History</option>
              <option value="International Studies">International Studies</option>
              <option value="Italian Studies">Italian Studies</option>
              <option value="Mathematics">Mathematics</option>
              <option value="Music">Music</option>
              <option value="Neuroscience">Neuroscience</option>
              <option value="Philosophy">Philosophy</option>
              <option value="Physics">Physics</option>
              <option value="Political Science">Political Science</option>
              <option value="Psychology">Psychology</option>
              <option value="Public Policy and Law">Public Policy and Law</option>
              <option value="Jewish Studies">Jewish Studies</option>
              <option value="Religion">Religion</option>
              <option value="Russian">Russian</option>
              <option value="Sociology">Sociology</option>
              <option value="Studio Arts">Studio Arts</option>        
              <option value="Theater and Dance">Theater and Dance</option>
              <option value="Urban Studies">Urban Studies</option>
              <option value="Women, Gender, and Sexuality">Women, Gender, and Sexuality</option>
            </select>
          </div>

          <div class="form-group">
            <textarea class="form-control" name="content" rows="10" placeholder="Description (Optional) (HTML formatting available)" autofocus></textarea>
          </div>

        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
    </div>
  </body>

</html>
