<div class="post">
  
  <div class="post-heading">
    <h2>
      {{p.subject}}
    </h2>

    <h5>
      Posted by
      <div class="label label-warning">
        {{p.author}}
      </div>&nbsp;

      <div class="label label-info">
        {{p.created.strftime("%b %d, %Y")}}
      </div>
    </h5>

  </div>
  <hr>

  <h4>
    <div class="post-content">
      {{p._render_text | safe}}
    </div>
  </h4>
  <hr>

  {% for i in comments %}

  <div class="panel panel-default">
    <div class="panel-heading"> {{i.author}} {{i.created.strftime("%H:%M:%S, %b %d, %Y")}}</div>
    <div class="panel-body">
      {{i.content | safe}}
    </div>
  </div>
  {% endfor %}

  <form method="post" class="jumbotron">
    <div>
      <b>Comment</b>
    </div>
    <textarea class="form-control" name="content" rows="7" placeholder="(HTML formatting available)">{{content}}</textarea>
    <div class="error">{{error}}</div>
    <br><br>
    <input type="submit" class="btn btn-primary">
  </form>

</div>