<div class="post">
  <div class="post-heading">
    <div>
      <a href="/afh/{{feedback.AFHID}}">{{AFH.title}}</a>
      
    </div>
    <div>
      {% if writer.name == AFH.author: %}
        <div> <font color="blue"> TUTOR </font></div>
      {% endif %}
      {% if writer.name != AFH.author: %}
        <div> <font color="red">TUTEE </font></div>
      {% endif %}
    </div>

    Feedback from
    <a href="/users/{{feedback.writerID}}" class="label label-warning">
      {{writer.name}}
    </a>
    <h4>
      <div class="label label-info">
        {{feedback.created.strftime("%b %d, %Y")}}
      </div>
    </h4>
  </div>

  <div class="post-content">
    Rating: {{feedback.rating}}
  </div>

  <div class="post-content">
    Subject: {{AFH.subject}}
  </div>

  <div class="post-content">
      {% if AFH.difficulty == 1 %}
        Difficulty: Easy
      {% elif AFH.difficulty == 2 %}
        Difficulty: Medium
      {% elif AFH.difficulty == 3 %}
        Difficulty: Hard
      {% elif AFH.difficulty == 4 %}
        Difficulty: Very Hard
      {% endif %}
  </div>

  <div class="post-content">
    Comments: {{feedback.comment}}
  </div>
</div>

<br><br>