{% extends "base.html" %}

{% block navbar %}
  <li><a href="/">Home</a></li>
  <li class="active"><a href="/newpost">New Post</a></li>
  {% if user %}
    <li><a href="/users/{{user.key().id()}}">Profile</a></li>
    <li><a href="/created">Created</a></li>
    <li><a href="/applied">Applied</a></li>
    <li><a href="/connections">Connections</a></li>
    <li><a href="/users">Users</a></li>
  {% endif %}
  <li><a href="/FAQ">FAQ</a></li>
{% endblock %}

{% block content %}

  <h2>Give Feedback</h2>
    <a href="/post/{{post.key().id()}}"> {{post.title}} </a>

    <form method="post" class="jumbotron">

      <div>
        <label>
          <div>Rating (5 = best, 1 = worst)</div>
          <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
         </select>
        </label>
        <div>{{error_rating}}</div>
      </div>

      <div>
        <b>Comments? (optional)</b>
        </div>
      <textarea class="form-control" name="comment" rows="10" placeholder="(HTML formatting available)">{{comment}}</textarea>
      
      <div class="error">{{error}}</div>
      <br><br>
      <input type="submit" class="btn btn-primary">
    </form>

{% endblock %}
