<div class="post">
  <div class="post-heading">
    Username: 
    <a href="/users/{{p.key().id()}}" class="label label-warning">
      {{p.name}}
    </a>
    <div class="post-content">
      But most people call me {{p.nickname}}
    </div>

    <div class="post-content">
      Major: {{p.major}}
    </div>

    <div class="post-content">
      Class of {{p.year}}
    </div>

    <div class="post-content">
      Rating: {{p.rating}}
    </div>

    <div class="post-content">
      Jobs: {{p.numberJobs}}
    </div>

    <h4>
      <div class="label label-info">
        I joined Trinity Tutor: {{p.created.strftime("%b %d, %Y")}}
      </div>
    </h4>
  </div>
  <hr>

  <div class="post-content">

  </div>

  
</div>